@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

html, body {
    font-family: Teachers;
    margin: 0;
    padding: 0;
}

/* Começo Header */
.menu-static {
    background: rgba(5, 74, 72, .95);
}
/* Fim Header */
/* Começo Main */
.container{
    z-index: 2;
    position: relative;
}
.quadrado {
    margin-top: 80px !important;
    padding: 20px;
    display: flex;
    border: 3px inset  rgb(120, 120, 120);
    border-radius: 30px;
    background: rgba(255, 255, 255, .90);
    backdrop-filter: blur(100px);
}
.quadrado h2 {
    font-weight: 450;
}
.quadrado p {
    font-size: 22px;
    font-weight: 420;
}
@media (max-width: 1400px) {
    .quadrado {
        flex-direction: column;
    }
    .container img {
        width: 300px !important;
    }
}
.container img {
    width: 650px;
    border-radius: 30px;
}

/* Fim Main */