@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

html, body {
    font-family: Teachers;
    margin: 0;
    padding: 0;
}

/* Começo Header */
.menu-static {
    background: rgba(5, 74, 72, .95);
}
/* Fim Header */
/* Começo Main */

main {
    height: 1440px;
}

.container{
    z-index: 2;
    position: relative;
}
.quadrado {
    margin-top: 80px !important;
    padding: 20px;
    display: flex;
    border: 3px inset  rgb(120, 120, 120);
    border-radius: 30px;
    background: rgba(255, 255, 255, .90);
    backdrop-filter: blur(100px);
}
.quadrado h2 {
    font-weight: 450;
}
.quadrado p {
    font-size: 22px;
    font-weight: 420;
}
@media (max-width: 1200px) {
    .quadrado {
        flex-direction: column;
        background: rgba(255, 255, 255, 1);
    }
    .container img {
        width: 300px !important;
    }
}
.container img {
    width: 530px;
    border-radius: 30px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 20px !important;
    }
}

h1 {
    color: white !important;
    font-family: Teachers;
    font-weight: 300 !important;
    border-left: 2px solid rgb(207, 207, 207);
    border-right: 2px solid rgb(207, 207, 207);
    border-radius: 15px;
    width: max-content;
    margin: auto;
    padding: 0px 20px;
}

.molde {
    background-color: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    padding: 50px;
    border-radius: 100px 15px 100px 15px ;
}

.accordion {
    width: 800px;
    background-color: rgb(207, 207, 207);
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    top: 0px;
    right: 5px;
    position: relative;
    border-radius: 20px !important;
}
.accordion-flush>.accordion-item {
    border-radius: 20px !important;
}

h4 {
    text-align: center;
    font-family: Teachers;
    font-weight: 300 !important;
    font-size: 35px !important;
}

.abaixo {
    text-align: center;
    position: relative;
    top: 80px;
}

.abaixo button {
    width: 250px;
    border: 2px solid rgba(5, 74, 72, .95);
    background: rgba(5, 74, 72, .95);
    border-radius: 30px !important;
    transition: .4s;
}

.abaixo p {
    margin: 0;
    padding: 20px;
    color: white;
    transition: .4s;
}

.abaixo button:hover {
    background-color: transparent;
    scale: 1.2;
    transition: .4s;
}

.abaixo button:hover p {
    color: rgba(5, 74, 72, .95);
    transition: .4s;
}



/* Fim Main */