/* Começo Media Layout */

@media (max-width: 992px) {
    .menu {
        max-width: 1280px;
        height: 70px;
        margin-inline: auto;
        right: 10px;
        align-items: center;
    }

    .menu ul li {
        padding-right: 80px;
    }

    .menu ul li a {
        font-size: 30px;
        opacity: 0;
    }

    .logo {
        margin: auto;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(5, 74, 72, 1);
        margin: 0;
        flex-direction: column;
        clip-path: circle(100px at 90% -21%);
        transition: 1s ease-out;

        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .menu.ativo .nav-list {
        clip-path: circle(1500px at 90% -21%);
        pointer-events: all;
    }

    .nav-list a {
        padding-block: 16px;
    }

    .fundo h1 {
        width: 90%;
        margin: 0 auto;
        font-size: 35px;
    }

    .icones {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .icones i {
        width: 100%;
        font-size: 20px;
    }

    .primeiro_icone {
        width: 350px;
        margin: auto;
        height: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .primeiro_icone p {
        width: 100%;
        height: 100%;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transition: all 1s;
        transform: translateX(0);
    }

    .icones :nth-child(2) {
        transition-delay: .2s;
    }

    .icones :nth-child(3) {
        transition-delay: .3s;
    }

    .frases {
        width: 100%;
        margin-top: 100px;
        align-items: center;
    }

    .frases h1 {
        font-size: 20px;
        width: 235px;
        position: relative;
    }

    .frases p {
        font-size: 16px;
        margin: 10px 0 0 0;
        position: relative;
        width: 400px;
    }
    .frases-empresa img {
        display: none;
    }
    .frases-empresa h3 {
        width: 90% !important;
        font-size: 20px;
        margin: auto;
        padding-top: 500px;
    }
    .frases-empresa p {
        width: 90%;
        font-size: 20px;
        left: 26px;
    }
    .frases-empresa {
        background: #b7b8b87d;
        height: 325px;
        margin-top: 530px;
        border-radius: 30px;
    }
    .card {
        width: 280px
    }

    .card .img-box {
        width: 235px;
    }

    .card:hover .img-box {
        top: -100px;
        scale: 0.80;
    }

    .card .content {
        font-size: 16px;
        height: 25px;
    }

    .card .content h1 {
        font-size: 20px;
    }

    .footer-socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
    }

    .footer-socials i {
        font-size: 20px;
    }

    .footer-logo {
        width: 100px;
    }

    .footer-logo img {
        width: 100%;
    }

    .footer-fundo {
        width: 100%;
    }

    .footer-links {
        width: 100%;
    }

    #instagram:hover .insta {
        display: none;
    }

    #youtube:hover .youtube {
        display: none;
    }

    #linkedin:hover .linkedin {
        display: none;
    }

    .footer-copyright p {
        margin: 0;
        text-align: center;
        padding-top: 28px;
        color: white;
        font-size: 10px;
    }
}

/* Fim Media Layout */