@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

html,
body {
    font-family: Teachers;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Começo do Header */

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.menu-static {
    background: transparent;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 4;
    transition: all ease .8s;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
    top: -20px;
}

li .nav-item {
    color: white;
}

.nav-item p {
    color: white;
    font-size: 22px;
    transition: 0.4s;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        gap: 40px;
        top: 14px;
        position: relative;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: space-evenly;
    }
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
    top: 8px;
    right: 30px;
    position: relative;
}

.nav-item p {
    margin: 0;
}

.menu-static-ativo {
    transition: all ease .8s;
    background: rgba(5, 74, 72, .95);
    z-index: 4;
    backdrop-filter: blur(2px);
}

.navbar-toggler-icon {
    filter: brightness(10);
}

.navbar-brand img {
    position: relative;
    top: -8px;
}

.navbar-nav {
    padding-left: 110px !important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    top: -25px;
    position: relative;
    align-items: center;
}

@media (max-width: 992px) {
    .navbar-collapse {
        background: rgba(5, 74, 72, .95);
        top: 15px;
    }

    .navbar-nav {
        padding-left: 0px !important;
    }

    .nav-link {
        padding: 30px !important;
    }

    .nav-item p {
        color: white;
        font-size: 22px;
        transition: 0.4s;
        text-align: center;
    }
    .navbar-brand img {
        width: 200px;
        top: 15px;
    }

}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    align-items: center;
    position: relative;
    right: 370px;
}

.menu ul {
    display: flex;
    text-decoration: none;
}

.menu ul li {
    padding-right: 42px;
    list-style-type: none;
    text-decoration: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu-static .nav-item p:hover {
    color: rgb(4, 233, 223);
}

.menu-static-ativo .nav-item p:hover {
    color: rgba(0, 0, 0, .8);
}

/* Fim do Header */
/* Começo do Main */
.fundo {
    height: 780px;
}

.fundo img {
    width: 100%;
    height: 760px;
    filter: brightness(0.25);
    position: relative;
    bottom: 80px;
    box-shadow: 0px 25px 60px 10px rgba(0, 0, 0, 0.75);
}

.fundo h1 {
    position: relative;
    bottom: 597px;
    margin: 0 auto;
    width: 654px;
    text-align: center;
    color: white;
    border-radius: 25px;
    font-size: 47px;
    letter-spacing: -1px;
}

.fundo a {
    display: block;
    font-size: 40px;
    position: relative;
    bottom: 500px;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    width: 260px;
    height: 80px;
    background: linear-gradient(90deg, rgba(5, 74, 72, 1) 23%, rgba(5, 74, 72, 1) 47%, rgba(5, 74, 72, 1) 75%);
    text-align: center;
    align-content: center;
    border-radius: 100px;
    border-color: rgba(5, 74, 72, 1);
    border: rgba(5, 74, 72, 1) 1px solid;
    transition: .6s ease-in;

}

.fundo a:hover {
    background: transparent;
    color: rgba(5, 74, 72, 1);
    transition: .3s ease-out;
    box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.8);
}

.icones {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.primeiro_icone {
    width: 380px;
    background: linear-gradient(90deg, rgba(5, 74, 72, 1) 23%, rgba(5, 74, 72, 1) 47%, rgba(5, 74, 72, 1) 75%);
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin-left: 30px;
    color: #fffffff2;
    padding: 15px;
    height: 380px;
    border-radius: 50px;
    font-size: 22px;
    box-shadow: 0px 0px 15px 0px rgba(5, 74, 72, 1);
    transition: 1s;
}

.primeiro_icone span {
    font-weight: bolder;
}

.primeiro_icone i {
    font-size: 60px;
}

/* Começo transições */

.hidden {
    opacity: 0;
    filter: blur(8px);
    transition: all 0s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}

.icones :nth-child(2) {
    transition-delay: 1s;
}

.icones :nth-child(3) {
    transition-delay: 1.6s;
}

/* Fim transições */

.frases {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 210px;
    border-radius: 0px 90px 90px 0px;
    background: #b7b8b87d;
    padding: 32px;
}

.frases h1 {
    font-size: 40px;
    font-weight: 500;
}

.frases p {
    font-size: 23px;
}

.saiba-mais {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 120px;
}

.card {
    display: flex !important;
    justify-content: center;
    width: 500px;
    height: 300px !important;
    position: absolute !important;
    background-color: #b7b8b87d !important;
    border-radius: 20px !important;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s !important;
    align-items: center;
    border: none !important;
}

.card:hover {
    height: 400px !important;
}

.card .img-box {
    position: absolute;
    width: 290px;
    height: auto;
    top: 0px;
    transition: 0.5s !important;
}

.card:hover .img-box {
    top: -115px;
    scale: 0.80;
}

.card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    top: 50px;
    width: 100%;
    padding: 0px 18px;
    text-align: center;
    height: 58px;
    overflow: hidden;
    font-size: 20px;
    transition: 0.5s !important;
}

.card:hover .content {
    top: 35px;
    height: 415px;
}

.card .read-more {
    background-color: rgba(5, 74, 72, 1);
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid rgba(5, 74, 72, 1);
    transition: 0.5s;
}

.card .read-more:hover {
    background-color: transparent;
    color: rgba(5, 74, 72, 1);
}

.frases-empresa {
    height: 600px;
    margin-top: 530px;
}

.frases-empresa img {
    width: 100%;
    height: 500px;
}

.frases-empresa h3 {
    position: relative;
    top: -450px;
    width: 584px;
    text-align: center;
    font-size: 32px;
}

.frases-empresa p {
    position: relative;
    top: -432px;
    width: 480px;
    text-align: center;
    left: 56px;
    font-size: 25px;
}

/* Fim do Main */
/* Começo do footer */

.footer-fundo {
    width: 100%;
    height: 325px;
    background: linear-gradient(90deg, rgb(5, 74, 72) 23%, rgba(5, 74, 72, 1) 47%, rgba(5, 74, 72, 1) 75%);
    margin-top: 50px;
    display: flex;
}

.footer-logo {
    display: flex;
    height: 100px;
    width: 320px;
    top: 25px;
    position: relative;
    flex-direction: column;
}

.footer-socials {
    display: flex;
    justify-content: space-evenly;
}

.footer-socials a {
    color: white;
    font-size: 35px;
    transition: 0.4s;
}

.footer-socials a:hover {
    color: rgb(4, 233, 223);
    transition: 0.4s;
}

.footer-links {
    border-left: 1px solid rgb(0, 50, 48);
    padding: 0 0 0 20px;
    height: 255px;
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer-bordas {
    margin-left: 50px;
    padding-left: 20px;
}

.footer-empresa p,
.footer-produtos p {
    font-size: 30px;
    color: rgb(4, 233, 223);
}

.footer-empresa ul, .footer-produtos ul {
    list-style: none;
    padding: 0;
}

.footer-empresa li {
    padding-bottom: 10px;
}

.footer-empresa a,.footer-produtos a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
    line-height: 1px;
}

.footer-empresa a:hover, .footer-produtos a:hover {
    color: rgb(4, 233, 223);
    transition: 0.4s;
}
.informacoes {
    width: 300px;
    padding: 0 20px;
    text-align: center;
    align-content: center;
    border-left: 1px solid rgb(0, 50, 48);
}
.informacoes h3, p, i {
    color: white;
}
.informacoes i {
    font-size: 40px;
    padding-bottom: 15px;
}

#instagram {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#youtube {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#linkedin {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-socials span {
    position: absolute;
    pointer-events: none;
}

.insta {
    top: 120px;
    left: 65px;
    font-size: 0px;
    overflow: hidden;
    height: 0;
    transition: 0.3s;
    transform: rotate(90deg);
}

.youtube {
    top: 120px;
    left: 158px;
    font-size: 0px;
    overflow: hidden;
    height: 0;
    transition: 0.3s;
    transform: rotate(90deg);
}

.linkedin {
    top: 120px;
    left: 245px;
    font-size: 0px;
    overflow: hidden;
    height: 0;
    transition: 0.3s;
    transform: rotate(90deg);
}

#instagram:hover .insta {
    top: 145px;
    left: 30px;
    height: 30px;
    font-size: 18px;
    transform: rotate(0deg);
}

#youtube:hover .youtube {
    top: 145px;
    left: 130px;
    height: 30px;
    font-size: 18px;
    transform: rotate(0deg);
}

#linkedin:hover .linkedin {
    top: 145px;
    left: 220px;
    height: 30px;
    font-size: 18px;
    transform: rotate(0deg);
}

.scrollTop {
    outline: none;
    border: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.scrollTop.active {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 92vh;
    transition: .5s;
}

.scrollTop i {
    font-size: 40px;
    color: rgb(0, 0, 0);
    z-index: 110;
}

.footer-copyright {
    width: 100%;
    height: 75px;
    background: rgb(0, 50, 48);
    margin: 0;
    box-shadow: 0px -10px 30px 2px #003230bf;
}

.footer-copyright p {
    margin: 0;
    text-align: center;
    justify-content: center;
    padding-top: 28px;
    color: white;
    font-size: 16px;
}

/* Fim do footer */