@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

html, body {
    font-family: Teachers;
    margin: 0;
    padding: 0;
}

/* Começo do Header */

header {
    background: rgb(46,100,107);
    background: linear-gradient(90deg, rgba(46,100,107,1) 23%, rgba(5,74,72,1) 47%, rgba(5,74,72,1) 75%);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.menu-static {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, rgba(46,100,107,.95) 23%, rgba(5,74,72,.95) 47%, rgba(5,74,72,.95) 75%);
    z-index: 2;
}
.logo {
    margin: 0 0 0 60px;
}
#logo {
    height: 85px;
}
.menu {
    display: flex;
    align-items: center;
    position: relative;
    right: 370px;
}
.menu ul {
    display: flex;
    text-decoration: none;
}
.menu ul li {
    padding-right: 42px;
    list-style-type: none;
    text-decoration: none;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.menu a:hover {
    color: rgba(0, 0, 0, .6);
}

/* Fim do Header */
/* Começo do Main */
.fundo {
    height: 780px;
}

.fundo img {
    width: 100%;
    height: 700px;
    filter: brightness(0.25);
}
.fundo h1 {
    position: relative;
    bottom: 597px;
    margin: 0 auto;
    width: 654px;
    text-align: center;
    color: white;
    border-radius: 25px;
    font-size: 47px;
}
.fundo a {
    display: block;
    font-size: 40px;
    position: relative;
    bottom: 500px;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    width: 260px;
    height: 80px;
    background: linear-gradient(90deg, rgba(5, 74, 72, 1) 23%, rgba(5, 74, 72, 1) 47%, rgba(5, 74, 72, 1) 75%);
    text-align: center;
    align-content: center;
    border-radius: 100px;
}
.fundo a:hover {
    background: #fffffff2;
    color: rgba(5, 74, 72, 1) ;
}
.icones{ 
    width: 100%;
    height: 500px;
    display: flex;
}
.primeiro_icone {
    width: 380px;
    background: linear-gradient(90deg, rgba(5, 74, 72, 1) 23%, rgba(5, 74, 72, 1) 47%, rgba(5, 74, 72, 1) 75%);;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin-left: 30px;
    color: #fffffff2;
    padding: 15px;
    height: 285px;
    border-radius: 50px;
    font-size: 22px;
    box-shadow: 0px 0px 15px 0px rgba(5, 74, 72, 1);
}
.primeiro_icone span {
    font-weight: bolder;
}
.primeiro_icone i {
    font-size: 60px;
}

/* Fim do Main */